* {
    text-decoration: none;
}
body {
    margin: 0px;
}
nav {
    margin-top: 0px;
    display: flex;
    justify-content: space-between;
    background-color: rgba(43, 170, 164, 0.2);
}
nav img {
    cursor: pointer;
    align-items: center;
    justify-content: center;
}
.nav-ul a{
    display: inline-block;
    margin-right: 2rem;
}

.nav-ul li {
    display: inline;
}

.mysamplecode {
    background-color: rgba(11, 12, 12, 0.2);
    padding: 2rem;
    color: #000000;
    font-size: 1.25rem;
}

.content {
    position: relative;
    margin: 0, auto;
}